.logoHolder {
    width: 200px;
}
.logo {
    width: 100%;
}
#searchBar {
    border: 0;
    width: 100%;
    background-color: lightgrey;
    padding: 12px;
    color: #575757;
}
.header {
    margin-bottom: 50px;
}
