.persoonlijkProfiel a {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.persoonlijkProfiel  button {
    background-color: green;
    color: white;
    font-weight: bold;
}
.persoonlijkProfiel input::placeholder {
    color: black;
    font-weight: bold;
}

.persoonlijkeInfo p {
    margin: 0 10px;
    padding: 0;
}

